@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

h1 {
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 300;
  margin: 0;
  margin-right:-20%;/* whatever */
  /* float: right; */
}

header {
  background-color: black;
  color: white;
  padding: 1rem;
}

header a {
  color: white;
}

.container {
   position: absolute;

 
  display: grid;
  display: absolute;
  top: 160px;
  left: 400px;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;

 
}

.card-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-title {
  background-color: #276074;
  color: white;
  border-radius: 0 0 1rem 1rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.card-title h3 {
  font-weight: 300;
}

.details-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-image {
  padding: 1rem;
  width: 200px;
}

.details {
  padding: 1rem;
  width: 350px;
}

.details h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0;
}

.details h3 {
  font-family: 'Noto Serif', Georgia, serif;
  font-style: italic;
  font-weight: 200;
  margin-top: 0;
}

.details h4 {
  margin-bottom: 0;
}

.details p {
  margin: 0;
}

.read-more {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem;
}

.flex-nav {
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 300;
  margin: 0;
  background-color: #276074;
  padding-top: 3rem;
  display: grid; 
  height: 11150px;
  width: 320px;
  grid-template-columns: 700px;
 
grid-area: nav;
}

a {
  color: #bac7d3;
  text-decoration: none;
  font-size: larger;

}


.flex-main
{
  float: right;
  display: flex; 
}

.flex-header
{
  padding-top: 3 rem;
  padding-bottom: 3 rem;
}
 
.container1 {
  display: grid; 
    position: absolute;
  top: 190px;
  left: 400px;

  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "flex-header flex-header flex-header"
    "flex-nav flex-main flex-main"
    "flex-nav flex-main flex-main"; 
  

  max-width: 150px;
}
.flex-nav { grid-area: flex-nav; }
.flex-header { grid-area: flex-header; }
.flex-main { grid-area: flex-main; }

.main2
{
position:absolute; left:80px; top:20px;
background-color: black;
  color: white;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem;

}

.flex-main
{
  position: absolute;
  right: 1000px;
  top: 150px;

}

#headings
{

  position: absolute;
  top: 120px;
  left: 400px;
  width: 500px;
  height: 500px;
 



}

#heading
{

  position: absolute;
  top: 160px;
  left: 400px;
  
   grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
 
 



}